.myself {
  background-color: var(--background-color-second);
  height: 500px;
  max-width: 1600px;
  padding: 118px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: (
      linear,
      left bottom,
      left top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    )
    url("../images/myself.jpg");
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.75) 0%,
      rgba(47, 48, 58, 0.75) 100%
    ),
    url("../images/myself.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: 50% 50%;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 44px;
    color: var(--third-color);
    font-weight: 900;
    line-height: 1.36;
    margin: 0px;
    margin-bottom: 35px;
  }
  &__title--name {
    font-size: 80px;
  }
  &__specs {
    font-size: 20px;
    color: var(--fifth-color);
    font-weight: 500;
    text-align: justify;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .myself {
    height: 900px;
    font-size: 26px;
    background-size: cover;
    background-image: (
        linear,
        left bottom,
        left top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      )
      url("../images/myself.jpg");
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.75) 0%,
        rgba(47, 48, 58, 0.75) 100%
      ),
      url("../images/myself.jpg");

    &__title--name {
      font-size: 60px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .myself {
    height: 600px;
    font-size: 36px;
    background-image: (
        linear,
        left bottom,
        left top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      )
      url("../images/myself.jpg");
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.75) 0%,
        rgba(47, 48, 58, 0.75) 100%
      ),
      url("../images/myself.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
